{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="class">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Main page</h1>
        <p class="lead text-muted">Welcome, it's a forum where u can share your idea)</p>
        <p>
            <a href="notes" class="btn2 btn-primary my-2">Notes</a>
            <a href="user" class="btn3 btn-secondary my-2">User</a>
        </p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 fw-normal">Social network </h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li><h2 class="h1">My instagram</h2></li>
        <a class="btn btn-outline-primary" href="https://www.instagram.com/r.okhrimets/">Instagram</a>
        <li><h4 class='h2'>Github</h4></li> 
        <a class="btn btn-outline-primary" href="https://github.com/Roman-it-bot">Github</a>
      </ul>
    </div>
  </div>
  </div>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </div>
    </div>
  </footer>
{% endblock %}